body
{
	text-align: center;
	background-image: url("image.jpg");
}

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
	color: blueviolet;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
